@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  width: 100%;
  height: 80px;
  padding: 10px;
  background: white;
  margin: 0px 0px 10px 0px;
}

.trigger:hover {
  color: #fec32b !important;
}

.ant-menu-item-selected {
  background-color: #fec32b !important;
}

.ant-switch.ant-switch-checked {
  background-color: #fec32b !important;
}

.ant-badge .ant-badge-count {
  background-color: #fec32b !important;
}
